Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
.settings/
*.log
*.pid
data/_*
data/*.lock
data/cache/
releases/
_Deparsed_XSubs.pm
.idea/
hugo/public
scratch/*
.~*
nytprof/*
/MANIFEST.bak
*.tar
*.tar.gz
*.tgz
/example/
